<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lovetoothalliance.app">


    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>



    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    //高德地图
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />    <!-- 在SD卡中创建和删除文件的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".LoveToothApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 环信部分开始-->
        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1145170908115925#loveteeth" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- 环信部分结束-->

        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">

        </activity>

        //===============================高德地图开始=====================================//
        //value是上边申请的key //这个name值 不变
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="23d914820be418b283c0dce64e5a5648"></meta-data>

        <service android:name="com.amap.api.location.APSService"></service>
        //===============================高德地图结束=====================================//

        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1333" />

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">

        </activity>

        //注册页面
        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait">

        </activity>
        //引导页面
        <activity
            android:name=".ui.GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxe5dfab23d10061bb" />
            </intent-filter>
        </activity>
        //登录
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait">


        </activity>
        //评价
        <activity
            android:name=".ui.EvaluateActivity"
            android:screenOrientation="portrait">

        </activity>
        //个人信息
        <activity
            android:name=".ui.PersonalInformationActivity"
            android:screenOrientation="portrait"></activity>
        //优惠促销
        <activity
            android:name=".ui.DiscountPromotionActivity"
            android:screenOrientation="portrait">

        </activity>
        //我的资产
        <activity
            android:name=".ui.MyPropertyActivity"
            android:screenOrientation="portrait">

        </activity>
        //我的团队
        <activity
            android:name=".ui.MyTeamActivity"
            android:screenOrientation="portrait">

        </activity>
        //我的团队
        <activity
            android:name=".ui.CounselActivity"
            android:screenOrientation="portrait"></activity>

        //提现
        <activity
            android:name=".ui.WithdrawDepositActivity"
            android:screenOrientation="portrait"></activity>
        //绑定手机
        <activity
            android:name=".ui.BindMobileActivty"
            android:screenOrientation="portrait"></activity>
        //我的钱包
        <activity
            android:name=".ui.MyWalletActivity"
            android:screenOrientation="portrait">

        </activity>
        //账号安全
        <activity
            android:name=".ui.AccountSafetyActivity"
            android:screenOrientation="portrait">

        </activity>

        //修改登录密码
        <activity
            android:name=".ui.UpdatePwdActivity"
            android:screenOrientation="portrait">

        </activity>

        //修改用户名称
        <activity
            android:name=".ui.UpdateUserNameActivity"
            android:screenOrientation="portrait"></activity>

        //找门诊
        <activity
            android:name=".ui.OutpatientActivity"
            android:screenOrientation="portrait">

        </activity>
        //附近的店
        <activity
            android:name=".ui.NearbyShopActivity"
            android:screenOrientation="portrait">

        </activity>

        //找专家
        <activity
            android:name=".ui.SeekSpecialistActivity"
            android:screenOrientation="portrait"></activity>

        //交易记录
        <activity
            android:name=".ui.TransactionRecordActivity"
            android:screenOrientation="portrait"></activity>
        //我要镶牙
        <activity
            android:name=".ui.MyWantToothActivity"
            android:screenOrientation="portrait">

        </activity>
        //我要种牙
        <activity
            android:name=".ui.ImplantTeethActivity"
            android:screenOrientation="portrait">

        </activity>
        //其他项目
        <activity
            android:name=".ui.ElseProjectActivity"
            android:screenOrientation="portrait">

        </activity>

        //积分商城
        <activity
            android:name=".ui.IntegralStoreActivity"
            android:screenOrientation="portrait"></activity>
        //健康知识
        <activity
            android:name=".ui.HealthKnowledgeActivity"
            android:screenOrientation="portrait"></activity>

        //健康知识
        <activity
            android:name=".ui.HealthKnowLedgeDetailActivity"
            android:screenOrientation="portrait"></activity>

        //门诊详情
        <activity
            android:name=".ui.ClinicContentActivity"
            android:screenOrientation="portrait">

        </activity>

        //门诊介绍
        <activity
            android:name=".ui.ClinicDetailsActivity"
            android:screenOrientation="portrait">

        </activity>

        //立刻购买
        <activity
            android:name=".ui.ImmediatelyBuyActivity"
            android:screenOrientation="portrait">

        </activity>
        //当前城市
        <activity
            android:name=".ui.PresentCityActivity"
            android:screenOrientation="portrait">

        </activity>
        //收货地址
        <activity
            android:name=".ui.CommodityAddressActivity"
            android:screenOrientation="portrait" />

        //收货地址
        <activity
            android:name=".ui.AddNewCommodityAddressActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait">

        </activity>
        //显示图片
        <activity
            android:name=".ui.ImagePagerActivity"
            android:screenOrientation="portrait">

        </activity>
        //自定义图片剪切类
        <activity
            android:name=".ui.ClipImageActivity"
            android:label="@string/app_name"></activity>

        //搜索界面
        <activity
            android:name=".ui.SearchActivity"
            android:screenOrientation="portrait"></activity>
        //绑定手机
        <activity
            android:name=".ui.BindMobileOkActivty"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>